@import url(  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300&family=Roboto:ital,wght@0,400;0,700;1,400;1,700;1,900&display=swap" rel="stylesheet">);


:root {
    --font-family: "Roboto", Sans-serif;
    --Normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --background-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #8b8eaf;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: # 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;

}

html {
    scroll-behavior: smooth;
}

